/*** Variables ***/
/*** SLIDER STYLING ***/
.slider .item {
  position: relative;
  padding: 0; }
  .slider .item img {
    max-width: 100%; }
  .slider .item .icon-overlay {
    position: absolute;
    left: 30px;
    bottom: 30px; }
    .slider .item .icon-overlay .icon-wrapper {
      width: 50px;
      padding-bottom: 2px;
      border-bottom: 5px solid #FFF;
      margin-bottom: 20px; }
      .slider .item .icon-overlay .icon-wrapper img {
        max-width: 100%; }
    .slider .item .icon-overlay .icon-title {
      text-transform: uppercase;
      font-size: 22px;
      letter-spacing: 1px;
      color: #FFF; }

/*** Main content ***/
.col-main .col-stripe .stripe {
  margin-top: 10px; }

/*** Logo slider ***/
.logo-item {
  margin-left: 80px;
  display: inline-block; }

.first {
  margin-left: 0; }

/*** Contact blocks ***/
.contact-blocks .col-contact {
  background-color: #E64300;
  color: #FFF;
  padding-top: 100px;
  padding-bottom: 60px; }
.contact-blocks .contact-info {
  max-width: 240px;
  margin: 0 auto; }
  .contact-blocks .contact-info .contact-image {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 30px; }
  .contact-blocks .contact-info .contact-text {
    position: relative;
    line-height: 1.7; }
    .contact-blocks .contact-info .contact-text:before {
      content: '';
      position: absolute;
      right: 100%;
      margin-top: 8px;
      margin-right: 40px;
      display: block;
      height: 15px;
      width: 70px;
      background-color: #FFF; }
.contact-blocks .col-blocks .blocks-wrapper {
  overflow: hidden;
  margin-top: 100px;
  margin-left: -80px; }
  .contact-blocks .col-blocks .blocks-wrapper .inner-col {
    background: #F5F5F5;
    padding: 50px;
    height: 100%; }
    .contact-blocks .col-blocks .blocks-wrapper .inner-col h3 {
      color: #333333; }
    .contact-blocks .col-blocks .blocks-wrapper .inner-col .form-input {
      border-bottom: 2px solid #121212;
      background-color: #F5F5F5; }
    .contact-blocks .col-blocks .blocks-wrapper .inner-col a.button {
      color: #4A4A4A;
      /*background-color: $bg-light;*/ }
      .contact-blocks .col-blocks .blocks-wrapper .inner-col a.button:hover, .contact-blocks .col-blocks .blocks-wrapper .inner-col a.button:focus, .contact-blocks .col-blocks .blocks-wrapper .inner-col a.button:active {
        color: #E64300;
        border: solid #E64300; }
    .contact-blocks .col-blocks .blocks-wrapper .inner-col .contact-text {
      text-transform: none;
      font-size: 14px; }
    .contact-blocks .col-blocks .blocks-wrapper .inner-col .form-item a {
      color: #4A4A4A;
      background-color: #F5F5F5;
      width: 100px; }
.contact-blocks .col-blocks .col-buttons .button {
  display: block;
  margin: 10px 0 0 0;
  text-align: center;
  text-transform: capitalize; }
.contact-blocks .col-blocks .col-form {
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 21px; }
  .contact-blocks .col-blocks .col-form .button {
    display: block;
    width: 100%; }
  .contact-blocks .col-blocks .col-form a {
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    background-color: #121212; }

/*# sourceMappingURL=home.css.map */
